$color-principal: #37aa9c; //
$color-secundario: #94f3e4;
$color-ternario: #333f44;
$color-oscuro: #1a1a1b;
$color-oscuro-2: #2d2d2e;
$color-blanco: #ffffff;
$tipografia-titulos: "Rubik", sans-serif;
$tipografia-subtitulos: "Cormorant Garamond", serif;
$tipografia-parrafos: "Yrsa", serif;
