$color-principal: #5a189a;
$color-secundario: #9d4edd;
$color-ternario: #c77dff;
$color-oscuro: #282828;
$color-blanco: #ffffff;
$tipografia-titulos: "Rubik", sans-serif;
$tipografia-subtitulos: "Cormorant Garamond", serif;
$tipografia-parrafos: "Yrsa", serif;
